<!DOCTYPE html>
<html>
<head>
  
  <!-- Twitter bootstrap 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  
  -->
  <!-- jquery 
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>  
  -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='static/css/styles.css' rel='stylesheet' type='text/css'>



  
</head>

<body>

      <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" alt="Brand" src="static/src/img/logo.png"> 
        </a>
      </div>
      <div class="navbar-text navbar-right"><div class="score"><h4><span id="progress">{{ textlang["connectedness"]["progress"] }} </span><span class="label label-primary completed">0</span> / 20</h4> </div></div>
      
      <div class="collapse navbar-collapse">
        
        <!-- ul class="nav navbar-nav navbar-right">
          <li role="presentation" ><a href='?lang=en' target="_self">English</a></li>
          <li role="presentation"><a href='?lang=it' target="_self" >Italian</a></li>
          <li role="presentation"><a href='?lang=ru' target="_self" >Russian</a></li>
          <li role="presentation" ><a href='?lang=es' target="_self">Spanish</a></li>
        </ul-->

      </div><!-- /.navbar-collapse -->      
    </div><!-- /.container-fluid -->
  </nav>    
  
  <div class="container">
  
    <div class="row">
      <div class="col-md-12">

        <div class="question page-header text-center">
          <h1 id="connTitle"> {{ textlang["connectedness"]["connTitle"] }}</h1>
          <p class="lead" id ="connGralInst">{{ textlang["connectedness"]["connGralInst"] }}</p>
        </div>        
      </div>
    </div>
    
    <!-- friends [ -->
    <form id="myform2" method="post" action="{{ url_for('connectednessdata') }}">
    <div class="row">

      {% for user in users %}
      <div class="col-md-12 friends">
          
          <!-- friend [ -->
          <div class="friend">
            <!-- picture [ -->
            <div class="row">              
              <div class="col-md-4">
                  <div class="name text-info etc" title="{{ user['name'] }}">
                  <img class="img-circle" src="//graph.facebook.com/{{ user['fbid'] }}/picture">
                  {{ user['name'] }}
                  </div>
                  
              </div>  
              <div class="col-md-8">
                <div class="gender form-group feedback">
                <label class="radio-inline"><span id="isGender">{{ textlang["connectedness"]["is"] }}</span></label>
                <span>
                  <label class="radio-inline">
                      <input id="radio1" name="rg_{{ user['id'] }}" type="radio" value="m" required>
                      {{ textlang["connectedness"]["gender1"] }}
                  </label>
                  <label class="radio-inline">
                      <input id="radio2" name="rg_{{ user['id'] }}" type="radio" value="f">
                      {{ textlang["connectedness"]["gender2"] }}                    
                  </label>  
                  <!--Set the position of error message -->
                  <label for="rg_{{ user['id'] }}" class="error" title="THis is bad" value="Oh noo!" style="color:red; display:none;"></label>
                </span>
                </div>                          
              </div>  
            </div>             
              <!-- ] picture -->
              
            <!-- connectedness [ -->
              <div class="row closeness">   
                <div class="col-md-12"> 
                  <p class="lead"><span id="connSpInst">{{ textlang["connectedness"]["connSpInst"] }}</span><span class="text-info">{{ user['name'] }}</span>.</p>
                </div>             
                <div class="col-md-12">                
                  <div class="form-group feedback">  
                    <span>
                    <label class="myclass_rimg">
                      <input type="radio" id="r1" name="connectedness_{{ user['id'] }}" value="1" required>
                      <img src="static/src/img/connectedness_1.png">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r2" name="connectedness_{{ user['id'] }}" value="2">
                      <img src="static/src/img/connectedness_2.png" class="img-rounded">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r3" name="connectedness_{{ user['id'] }}" value="3">
                      <img src="static/src/img/connectedness_3.png" class="img-rounded">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r4" name="connectedness_{{ user['id'] }}" value="4">
                      <img src="static/src/img/connectedness_4.png" class="img-rounded">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r5" name="connectedness_{{ user['id'] }}" value="5">
                      <img src="static/src/img/connectedness_5.png" class="img-rounded">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r6" name="connectedness_{{ user['id'] }}" value="6">
                      <img src="static/src/img/connectedness_6.png" class="img-rounded">
                    </label>

                    <label class="myclass_rimg">
                      <input type="radio" id="r7" name="connectedness_{{ user['id'] }}" value="7">
                      <img src="static/src/img/connectedness_7.png" class="img-rounded">
                    </label>

                      <!-- Label is removed so the option is not highlighted -->
                      <input type="radio" id="r8" name="connectedness_{{ user['id'] }}" value="0">
                      <span id="onConnectedness" >{{ textlang["connectedness"]["skip"] }}</span>


                    <label for="connectedness_{{ user['id'] }}" class="error" style="color:red; display:none;"></label>
                   </span>
                  </div>                                                 
                </div>
              </div>
            <!-- ] connectedness -->
              
            <!-- Interactions [ -->          
              <div class="row interactions">   
                <div class="col-md-12"> 
                  <p class="lead"><span id="intSpInst1">{{ textlang["connectedness"]["intSpInst1"] }} </span><span class="text-info">{{ user['name'] }}</span><span id="intSpInst2"> {{ textlang["connectedness"]["intSpInst2"] }} </span><span id="intSpInst3" style="text-decoration: underline"> {{ textlang["connectedness"]["intSpInst3"]}} </span><span id="intSpInst4"> {{ textlang["connectedness"]["intSpInst4"] }} </span></p>
                </div>
                <div class="col-md-12">                                    
                  <div class="radio feedback">      
                    <label class="radio-inline radio-desc">  
                      <strong id="channel1"> {{ textlang["connectedness"]["channel1"] }}</strong>
                    </label> 
                                              
                    <label class="radio-inline">
                      <input type="radio" id="r1" name="interaction_online_{{ user['id'] }}" value="1" required>
                      <span id="onlikertScale1" >{{ textlang["connectedness"]["likertScale1"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r2" name="interaction_online_{{ user['id'] }}" value="2">
                      <span id="onlikertScale2">{{ textlang["connectedness"]["likertScale2"] }}</span>
                    </label>

                    <label class="radio-inline" >
                      <input type="radio" id="r3" name="interaction_online_{{ user['id'] }}" value="3">
                      <span id="onlikertScale3">{{ textlang["connectedness"]["likertScale3"] }}</span>
                    </label>

                    <label class="radio-inline" >
                      <input type="radio" id="r4" name="interaction_online_{{ user['id'] }}" value="4">
                      <span id="onlikertScale4">{{ textlang["connectedness"]["likertScale4"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r5" name="interaction_online_{{ user['id'] }}" value="5">
                      <span id="onlikertScale5">{{ textlang["connectedness"]["likertScale5"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r6" name="interaction_online_{{ user['id'] }}" value="0">
                      <span id="onlikertScale6">{{ textlang["connectedness"]["skip"] }}</span>
                    </label>
                    <!--Set the position of error message -->
                    <label for="interaction_online_{{ user['id'] }}" class="error" style="color:red; display:none;"></label>
                    
                   </div>
                </div>
                
                <div class="col-md-12">                                    
                  <div class="radio feedback">      
                    <label class="radio-inline radio-desc">  
                      <strong id="channel2" > {{ textlang["connectedness"]["channel2"] }} </strong>
                    </label>  
                                            
                    <label class="radio-inline" >
                      <input type="radio" id="r1" name="interaction_face_{{ user['id'] }}" value="1" required>
                      <span id="f2flikertScale1">{{ textlang["connectedness"]["likertScale1"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r2" name="interaction_face_{{ user['id'] }}" value="2">
                      <span id="f2flikertScale2">{{ textlang["connectedness"]["likertScale2"] }}</span>
                    </label>

                    <label class="radio-inline" >
                      <input type="radio" id="r3" name="interaction_face_{{ user['id'] }}" value="3">
                      <span id="f2flikertScale3">{{ textlang["connectedness"]["likertScale3"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r4" name="interaction_face_{{ user['id'] }}" value="4">
                      <span id="f2flikertScale4">{{ textlang["connectedness"]["likertScale4"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r5" name="interaction_face_{{ user['id'] }}" value="5">
                      <span id="f2flikertScale5">{{ textlang["connectedness"]["likertScale5"] }}</span>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" id="r6" name="interaction_face_{{ user['id'] }}" value="0">
                      <span id="f2flikertScale6">{{ textlang["connectedness"]["skip"] }}</span>
                    </label>
                    <!--Set the position of error message -->
                    <label for="interaction_face_{{ user['id'] }}" class="error" style="color:red; display:none;"></label>
                    
                   </div>
                </div>                                                                  
                                                                                                                                                                                                                                                                                                                                
              </div>                                     
            <!-- ] Interactions -->  
              
            <hr>                                                                               
            </div>
            <!-- ] friend -->
       
      </div>

      <div class="col-md-12">
        <p class="lead"><span id="connCkInst">{{ textlang["connectedness"]["connCkInst"] }}</span>.</p>
        <div class="form-group feedback">
          <span>
            <label class="radio-inline">
              <input type="radio" id="r1" name="connectedness_check" value="0" required>
              <span id="connCheck1">{{ textlang["connectedness"]["connCk1"] }}</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="r2" name="connectedness_check" value="0">
              <span id="connCheck2">{{ textlang["connectedness"]["connCk2"] }}</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="r3" name="connectedness_check" value="1">
              <span id="connCheck3">{{ textlang["connectedness"]["connCk3"] }}</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="r4" name="connectedness_check" value="0">
              <span id="connCheck4">{{ textlang["connectedness"]["connCk4"] }}</span>
            </label>
            <label class="radio-inline">
              <input type="radio" id="r5" name="connectedness_check" value="0">
              <span id="connCheck5">{{ textlang["connectedness"]["skip"] }}</span>
            </label>
          </span>
        </div>
      </div>

      {% endfor %}
      <!-- nav buttons [ -->
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-info btn-lg" ><span id="bttnFinished">{{ textlang["connectedness"]["bttnFinished"] }}</span></button>        
        </div>
      <!-- ] nav buttons -->        
        
    </div>
    </form>
         
    
  
  </div>  
  

     <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  <script src="static/js/jquery-1.12.4.js"></script>
  <script src="static/js/jquery.validate.js"></script> 
  

  <script src="static/src/app.js"></script>
  <script>
  $("#myform2").validate();

  </script>


  
</body>
</html>