<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> FriendRover Informed consent </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- CONTAINER -->
<div class="container-fluid">

    <h1><a href="http://happy.mateine.org/friends-us" id="title1">What makes people bond?</a></h1>

    <h2><b>Informed consent</b></h2><br>

    <div class="row">
        <img class="img-responsive" src="static/src/img/consent_1.jpg">
    </div>

    <div class="row">
        <img class="img-responsive" src="static/src/img/consent_2.jpg">
    </div>

</div>
</body>
</html>