<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> FriendRover Informed consent </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- CONTAINER -->
<div class="container-fluid">

    <h1><a href="http://happy.mateine.org/friends-us" id="title1">What makes people bond?</a></h1>

    <div id="policy">

        <h2><b>Informed consent</b></h2><br>

        <p>The study in which you are being asked to participate is designed to identify the predictors of relational closeness via Facebook. This study is being conducted by Dr. Kelly Campbell, Associate Professor at California State University, San Bernardino. This study has been approved by the Department of Psychology subcommittee of the Institutional Review Board, California State University, San Bernardino and a copy of the approval stamp should appear somewhere on this form.</p>

        <p>PURPOSE: This study is designed to assess friendship connections on Facebook.</p>

        <p>DESCRIPTION: After agreeing to participate in the study, you will be prompted to log into your Facebook account. You will then be prompted to give permission to the Facebook application so that the study investigator is able to collect  data automatically from your profile. The information will be used to generate a sample of 20 people/friends with whom you interact. These people will not be contacted. You will be asked to respond to questions for each of the 20 people. The questions will pertain to feelings of connection, frequency of interactions, and things in common with those 20 people.</p>

        <p>PARTICIPATION: Your participation in this study is entirely voluntary. You are free to withdraw your participation or choose to not answer a question at any time during the study without penalty. You are also free to remove any data at any time.</p>

        <p>CONFIDENTIALITY: All of your responses will be kept confidential. Presentation of the study results will be reported in a group format only and your name will not be identified in any publication.  All data will be destroyed seven years after publication.  All data will be stored on password protected computers in possession of Dr. Campbell and her research collaborators.</p>

        <p>DURATION: Your participation in this study will take approximately 30 minutes and is worth 1 extra unit in a Psychology class of your choice, at your instructor's discretion.</p>

        <p>RISKS AND BENEFITS: This study does not provide any direct benefits to individual participants. We expect the risks to be minimal; however, some participants may experience feelings of social rejection. In the event that you experience adverse effects from participating in this research, please contact one of our on-campus counseling centers: 909-537-5040 or 909-537-5569.</p>

        <p>CONTACT: If you have any questions concerning this survey, the results, or your participation in this research please feel free to contact Dr. Kelly Campbell at (909) 537-7687, <a href="mailto:Kelly@csusb.edu">Kelly@csusb.edu</a> or the Department of Psychology subcommittee of the Institutional Review Board, California State University, San Bernardino at <a href="mailto:psyc.irb@csusb.edu">psyc.irb@csusb.edu</a>.</p>

        <h3>Confirmation statement</h3>
        <p>I understand that I must be at least 18 years of age and have an active Facebook account with at least 20 friends to participate in your study. I have read and understand the consent document, and agree to participate in your study.</p>

        <p>SIGNATURE: ONLINE AGREEMENT BY SELECTING THE 'I AGREE' OPTION ON THE WEBPAGE INDICATES CONSENT TO PARTICIPATE IN THE STUDY</p>

    </div>
</div>
</body>
</html>