<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example Facebook app using Flask and Python Facebook SDK">
    <meta name="author" content="github.com/mylsb">

    <title>App name</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
</head>

<body>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1733963700184652',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<label>Hello from Flask</label>
{% if name %}
  <h1>Hello {{ name }}! How are you?</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

    <div class="container">
        {% block content %} {% endblock %}
    </div>

</body>

</html>
