<!DOCTYPE html>
<html>
<head>
  
  <!-- Twitter bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  
  
  <!-- jquery -->
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>  
  
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='static/css/styles.css' rel='stylesheet' type='text/css'>
  
  <title>{{ textlang["start"]["title"] }}</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://happy.mateine.org/friends/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content= "{{ textlang['start']['title'] }}" />
  <meta property="og:description"   content="{{ textlang['start']['body']['secondPar']['firstSeg'] }} {{ textlang['start']['body']['secondPar']['firstLn'] }} {{ textlang['start']['body']['secondPar']['secondSeg'] }} {{ textlang['start']['body']['secondPar']['secondLn'] }} {{ textlang['start']['body']['secondPar']['thirdSeg'] }}" />
  <meta property="og:image"         content="http://happy.mateine.org/friends/static/src/img/friends.jpg" /> 

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1733963700184652";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- HEADER -->
      <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" alt="Brand" src="static/src/img/logo.png"> 
        </a>
      </div>
          
    </div><!-- /.container-fluid -->
  </nav>  

  <div class="container">
    
    <div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
    
      <div class="welcome text-center page-header">
        <h1>{{ textlang['thanks']['title'] }}</h1>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive" src="static/src/img/friends.jpg">
        </div>
        <div class="col-md-8">        
          <!-- Have you ever wondered what makes you feel connected to some people?
            In this study we aim at addressing this question by looking at how people interact 
            in social networks and what aspects their share in common
            -->
          <p class="lead">        
            {{ textlang['thanks']['firstMessage'] }}      
          </p>

          <p class="lead"> {{ textlang['thanks']['secondMessage'] }} </p>
          <p>
          <div class="fb-share-button" data-href="http://happy.mateine.org/friends/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhappy.mateine.org%2Ffriends%2F&amp;src=sdkpreparse">{{ textlang['thanks']['fbBttn'] }}</a></div>
          <!--<button class="btn-info">Share button goes here (we should personalise what goes in the text by using the meta tags)</button>-->
          </p>

          <p class="lead">
          {{ textlang['thanks']['thirdMessage'] }} 
          </p>  
          <p class="lead text-right">
          {{ textlang['thanks']['goodbye'] }}  
          </p>  


        </div>
      </div>

      <hr>
      

  
    </div>
    </div>
    
  </div>
  <script src="static/src/app.js"></script>
  
</body>
</html>