<!DOCTYPE html>
<html>
<head>
  
  <!-- Twitter bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  
  
  <!-- jquery -->
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>  
  
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='styles.css' rel='stylesheet' type='text/css'>
  
</head>
<body>

<!-- HEADER -->
      <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" alt="Brand" src="img/logo.png"> 
        </a>
      </div>
          
    </div><!-- /.container-fluid -->
  </nav>  

  <div class="container">
    
    <div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
    
      <div class="welcome text-center page-header">
        <h1> Thanks! TODO.</h1>
      </div>

      <div class="row">
        <div class="col-md-12">        
          <!-- Have you ever wondered what makes you feel connected to some people?
            In this study we aim at addressing this question by looking at how people interact 
            in social networks and what aspects their share in common
            -->
          <p class="lead">        
            You've contributed to science.</p>

          <p class="lead"> Share on facebook</p>

          <p class="lead">
          The experiment requires Facebook login. The access to profile information is requested to: 
            i) identify common aspects among facebook profiles and ii) the number of interaction online<strong>*</strong>.   
          </p>  


        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a type="button" class="btn btn-info btn-lg" href="closeness.html">Start the experiment</a>        
        </div>
      </div>

      <hr>
      

  
    </div>
    </div>
    
  </div>
  <script src="app.js"></script>
  
</body>
</html>