<!DOCTYPE html>
<html>
<head>
  
  <!-- Twitter bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  
  
  <!-- jquery -->
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>  
  
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='static/css/styles.css' rel='stylesheet' type='text/css'>
  

</head> 
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1733963700184652";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- HEADER -->
      <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" alt="Brand" src="static/src/img/logo.png"> 
        </a>
      </div>
          
    </div><!-- /.container-fluid -->
  </nav>  

  <div class="container">
    
    <div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
    
      <div class="welcome text-center page-header">
        <h1>{{ textlang['thanks']['title'] }}</h1>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive" src="static/src/img/friends.jpg">
        </div>
        <div class="col-md-8">        
          <!-- Have you ever wondered what makes you feel connected to some people?
            In this study we aim at addressing this question by looking at how people interact 
            in social networks and what aspects their share in common
            -->
          <p class="lead">        
            <span id="firstMessage">{{ textlang['thanks']['firstMessage'] }}</span><a id="firstEmail" href="emailto:Kelly@csusb.edu">{{ textlang['thanks']['firstEmail'] }}</a><span id="firstMessageEnd">{{ textlang['thanks']['firstMessageEnd'] }}</span>
          </p>

          <p class="lead">
            <span id="secondMessage">{{ textlang['thanks']['secondMessage'] }}</span>
          </p>

          <div class="checkbox">
            <label>
              <input id="creditCheck" type="checkbox" autofocus checked><span id="creditForm">{{ textlang['thanks']['checkBttn'] }}</span>
            </label>
          </div>

          <form id="myform4" method="post" action="{{ url_for('creditdata') }}" onsubmit="return validateMyForm();">

            <div id="form4-fields">
              <div class="form-group">
                <label for="fname" class="col-2 col-form-label">{{ textlang['thanks']['firstLabel'] }}</label>
                <input type="text" id="fname" name="first_name">
              <!--/div>
              <div class="form-group" class="col-2 col-form-label"-->
                <label for="lname">{{ textlang['thanks']['secondLabel'] }}</label>
                <input type="text" id="lname" name="last_name">
              <!--/div>
              <div class="form-group" class="col-2 col-form-label"-->
                <label for="id">{{ textlang['thanks']['thirdLabel'] }}</label>
                <input type="text" id="id" name="sona_id">
              </div>
            </div>

            <button id="endBttn" type="submit" class="btn btn-info btn-lg">{{ textlang['thanks']['endBttn'] }}</button>

          </form>

        </div>
      </div>

      <hr>
      

  
    </div>
    </div>
    
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  <script src="static/js/jquery-1.12.4.js"></script>
  <script src="static/js/jquery.validate.js"></script>

  <script>
      $("#myform4").validate();
      function validateMyForm () {

          var isValid = true;
          //check only if request for credit button is checked
          if($("#creditCheck").is(":checked")){
              $("input[type=text]").each(function(){
                  isValid = (isValid && ( $(this).val() === '' ));
              });
          }
          if(isValid === false){
              alert("Please fill all the fields so that your credit request can be computed.");
          }
          return isValid;
      }

  </script>

  <script src="static/src/app.js"></script>
  
</body>
</html>